<div>
    <form name="steponeForm" file-upload="vm.options" enctype="multipart/form-data" novalidate="" method="POST">
        <br />

        <!-- Add Files Button -->
        <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Upload Video</span>
        <input type="file" name="file">
        <input type="hidden" name="api_password" value="5bb739f3569dd08731ac1902cf2f403250b1ecdab593f4db9a652f09e8f9d070">
        </span>

        <!-- Start Upload Button -->
        <!--
<button type="button" class="btn btn-primary start" data-ng-click="submit()">
    <i class="glyphicon glyphicon-upload"></i>
    <span>Start upload</span>
</button>
-->

        <!-- Image Preview Area -->
        <table class="table table-striped files ng-cloak" ng-show="!vm.properties.previewReady">
            <tr data-ng-repeat="file in queue | limitTo:-1" data-ng-class="{'processing': file.$processing()}">
                <td data-ng-switch data-on="!!file.thumbnailUrl">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </td>
                <td>
                    <p class="size">{{file.size | formatFileSize}}</p>
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()">
                        <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                    </div>
                </td>
                <td>
            </tr>
        </table>

    </form>

    <div class="row" ng-if="vm.properties.previewReady">
        <div class="col-xs-12 wistia_embed {{vm.data.videoEmbedClass}}">&nbsp;</div>
    </div>
</div>