@font-face {
  font-family: "Kelvetica";
  src: url('../../fonts/Kelvetica Nobis.otf?1448048438') format('opentype');
}
/* line 3, ../partials/_skin.scss */
body {
  font-family: "Kelvetica";
  font-size: 1.5em;
  margin-top: 5%;
  background-color: white;
}

/* line 10, ../partials/_skin.scss */
h3 {
  color: darkcyan;
}

@font-face {
  font-family: "Kelvetica";
  src: url('../../fonts/Kelvetica Nobis.otf?1448048438') format('opentype');
}
/* line 3, ../partials/_welcome.scss */
body {
  font-family: "Kelvetica";
  font-size: 1.5em;
  margin-top: 5%;
  background-color: white;
}

/* line 10, ../partials/_welcome.scss */
h3 {
  color: darkcyan;
}
